<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: rgb(221, 205, 141);
    }

    #title {
        text-align: center;
    }

    #chat {
        max-height: 500px;
        min-height: 500px;
        background-color: white;
        overflow-y: scroll;
        width: 65%;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    #chat p {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    #username {
        display: block;
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }

    #msg {
        display: block;
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }

    #send {
        display: block;
        width: 20%;
        margin: 0 auto;
    }
</style>
<body>
    <br>
    <h1 id="title">CHAT</h1>
    <div id="chat"><br></div>
    <br>
    <input class="form-control" type="text" name="" id="username" placeholder="Seu nome de usuário" >
    <br>
    <input class="form-control" type="text" name="" id="msg" placeholder="mensagem...">
    <br>
    <button class="btn btn-primary btn-lg btn-block" id="send" onclick="send()">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
<script>
    var socket = io("http://localhost:3000");

    socket.on("disconnect", () => {
        console.log("Desconectado");
    });

    socket.on("showmsg", (data) => {
        console.log(data);
        var chat = document.getElementById("chat");
        var p = document.createElement("p");
        p.innerHTML = "<b>" + " (" + getTime() + ") " + data.username  + "</b>: " + data.msg;
        chat.append(p);
        updateScroll();
    });

    function twodigits(time) {
        if (time < 10) {
            return "0" + time
        }
        else {
            return time;
        }
    }
    
    function getTime() {
        var d = new Date();
        var time;
        var hour = d.getHours();
        var minute = d.getMinutes();

        time = twodigits(hour) + ":" + twodigits(minute);
        return time;
        
    }

    function updateScroll() {
        var chat = document.getElementById("chat");
        chat.scrollTop = chat.scrollHeight;
    }

    function send(){
        var msgField = document.getElementById("msg");
        var usernameField = document.getElementById("username");

        var msg = msgField.value;
        var username = usernameField.value;

        socket.emit("msg", {msg: msg, username: username});
    }
</script>
</html>